{% extends 'base.html.twig' %}

{% block title %}create new review{% endblock %}

{% block body %}
    <form action="{{ path("review.store") }}" method="POST">
        <select name="restaurantId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Restaurant</option>
            {% for restaurant in restaurants %}
                <option value="{{ restaurant.getId() }}">{{ restaurant.getName() }}</option>
            {% endfor %}
        </select>
        <select name="userId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>User</option>
            {% for user in users %}
                <option value="{{ user.getId() }}">{{ user.getUsername() }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Review</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
        </div>
        <label class="form-label">Rating</label>
        <input class="form-control" type="number" max="5" name="rating"><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Create New Review" />
    </form>
{% endblock %}